# Climate Analysis

### Import all necessary packages and configue SQLAlchemy

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import datetime as dt

In [5]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [6]:
# Create Engine
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# Declare a base
Base = automap_base()

In [8]:
Base.prepare(engine, reflect=True)

In [9]:
Base.classes.keys()

['measurement', 'station']

In [31]:
# Assign measurement and station classes to variables
measurement = Base.classes.measurement
station = Base.classes.station

In [11]:
# Create session
session = Session(engine)

#### Use inspector to see what columns we will be working with

In [15]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [18]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], ' : ', c['type'])

id  :  INTEGER
station  :  TEXT
date  :  TEXT
prcp  :  FLOAT
tobs  :  FLOAT

In [20]:
columns2 = inspector.get_columns('station')
for c in columns2:
    print(c['name'], ' : ', c['type'])

id  :  INTEGER
station  :  TEXT
name  :  TEXT
latitude  :  FLOAT
longitude  :  FLOAT
elevation  :  FLOAT

### Engine execute to select datapoints

In [22]:
engine.execute("SELECT * FROM station LIMIT 10;").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

### Query data to store into variable to use for analysis.

In [23]:
measurement_results = session.query(measurement.id, measurement.station, measurement.date, measurement.prcp, measurement.tobs).\
    order_by(measurement.id).all()

In [29]:
measurement_df = pd.DataFrame(measurement_results, columns=['id', 'station', 'date', 'prcp', 'tobs'])
measurement_df.set_index('id', inplace=True)
measurement_df.head()

        station        date  prcp  tobs
id
1   USC00519397  2010-01-01  0.08  65.0
2   USC00519397  2010-01-02  0.00  63.0
3   USC00519397  2010-01-03  0.00  74.0
4   USC00519397  2010-01-04  0.00  76.0
5   USC00519397  2010-01-06   NaN  73.0

In [32]:
station_list = session.query(station.id, station.station, station.name, station.latitude, station.longitude, station.elevation).\
    order_by(station.id).all()

In [34]:
station_df = pd.DataFrame(station_list, columns=['id', 'station', 'name', 'latitude', 'longitude', 'elevation'])
station_df.set_index('id', inplace=True)
station_df.head()

,station,name,latitude,longitude,elevation
id,,,,,
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6